.header-wrapper {
    background-color: var(--header-bg);
}

header a,
header .btn-logout {
    display: block;
    color: var(--na-link-color);
    margin: 7px 0;
    padding: 1rem;
    font-size: 1.1rem;
}

.logo {
    font-size: 1.2rem;
    /* padding: 10px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--logo-color);
}

.menuIcon button {
    border: transparent;
    background-color: transparent;
    color: var(--na-link-color);
}

header nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header .profile-img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: .8rem;
}

.nav-none-sm {
    display: none;
}

header .btn-logout {
    width: max-content;
    font-weight: 600;
    color: rgb(93, 97, 92);
    border-radius: 10px;
}


@media screen and (min-width: 1000px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.5rem;
    }

    .menuIcon {
        display: none;
    }

    header nav {
        display: flex;
        padding: 1rem 0;
        align-items: center;
    }

    header a,
    header .btn-logout {
        padding: .7rem 1.3rem;
    }

    .nav-none-sm {
        display: flex;
    }
}