
.category-tabs{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
}

.tab-list{
    display: flex;
    gap: 1.2rem;
    margin-bottom: -2px;
}

.tab-list li {
    padding: 10px;
    cursor: pointer;
}

.react-tabs__tab--selected{
    border: 1px solid;
    border-bottom: 4px solid antiquewhite;
}

.react-tabs__tab-panel--selected{
    border: 1px solid;
    padding: 2rem 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}